@font-face {
    font-family: Lausanne;
    src: url(fonts/TWKLausanne-300.eot#iefix) format(embedded-opentype);
}

@font-face {
    font-family: Lausanne;
    src: url(fonts/TWKLausanne-300.woff) format(woff);
}

@font-face {
    font-family: Lausanne;
    src: url(fonts/TWKLausanne-300.ttf) format(truetype);
}

@font-face {
    font-family: Reckless;
    src: url(fonts/RecklessNeue-Book.eot#iefix) format(embedded-opentype);
}

@font-face {
    font-family: Reckless;
    src: url(fonts/RecklessNeue-Book.woff) format(woff);
}

@font-face {
    font-family: Reckless;
    src: url(fonts/RecklessNeue-Book.ttf) format(truetype);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Lausanne;
    color: #000;
    line-height: 1.682;
    background: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:normal;
}

a {
    color: inherit;
    text-decoration: none;
    border: none;
}

.anchor {
    border-bottom: 1px dashed;
}

body header {
    position: relative;
    padding: 20px 40px;
    border-bottom:1px solid #000;
}

body header img {
    display: block;
    width: 100px;
    border-radius: 50%;
}

body header nav {
    width: 260px;
    position: absolute;
    margin: auto;
    top: 60px;
    left: 0;
    right: 0;
}

body header nav ul {
    list-style: none;
}

body header nav ul li {
    display: block;
    float: left;
    margin: 0 12px;
    font-size: 18px;
}

body header>a {
    display: block;
    height: 24px;
    position: absolute;
    right: 40px;
    top: 60px;
    padding: 0 12px;
    color: #FFF;
    border-radius: 12px;
    background: #000;
}

body header>a:hover {
    color: #FFF;
    background: #00F;
}

main {
    display: block;
    color: #FFF;
    background: #191919;
}

main .top {
    padding: 40px;
    color: #000;
    background: #FFF;
}

main .top h1 {
    margin: 32px 0;
    font-size: 60px;
    font-family: Reckless;
}

main .top .today {
    margin: 0 120px 0 0;
}

main .bg-img {
    height:360px;
    background-image: url(img/2021_blog_Karls-Letter_header.png);
    background-position: left center;
    background-size: cover;
}

main .level {
    width: 640px;
    padding: 100px 0;
    margin:0 auto;
}

main .level .sub {
    margin: 0 0 0 24px;
    font-size: 14px;
    opacity: .6;
}

main .level h3 {
    margin: 20px 0 20px 24px;
    font-size: 48px;
    font-family: Reckless;
    line-height: 1.2;
}
main .level p {
    font-size: 18px;
    margin: 0 0 0 24px;
}

main .level a {
    display: inline-block;
    height: 24px;
    padding: 0 12px;
    margin: 24px 0 0 24px;
    color:#000;
    border-radius: 12px;
    background: #CF8C29;
}

main .level a:hover {
    color: #FFF;
    background: #442806;
}

main .level .block1 {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 0 0 0 24px;
    margin: 40px 0 0 0;
    border-left: 1px solid #CF8C29;
}

main .level .block1 .nr {
    font-size: 72px;
    font-family: Reckless;
    margin: 0 0 32px 0;
}

main .level2 {
    width: 640px;
    padding: 100px 0;
    margin: 0 auto;
}

main .level2 .block1 {
    padding: 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    overflow: hidden;
}

main .level2 .block1:first-of-type {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

main .level2 img {
    float: left;
    margin: 20px 60px;
}

main .level2 h3 {
    font-size: 24px;
    font-family: Reckless;
}

main .level2 a {
    display: inline-block;
    height: 24px;
    padding: 0 12px;
    margin: 24px 0 0 0;
    color:#000;
    border-radius: 12px;
    background: #CF8C29;
}

main .level2 a:hover {
    color: #FFF;
    background: #442806;
}

main .bottom {
    display: flex;
    padding: 48px 2%;
    color: #000;
    background: #FFF;
}

main .bottom .item {
    min-width: 25%;
    max-width: 25%;
    padding:0 24px;
    border-left: 1px solid #000;
}

main .bottom .sub {
    font-size: 13px;
}

main .bottom h4 {
    margin: 0 0 48px 0;
    font-size: 18px;
    font-family: Reckless;
}

main .bottom .source {
    font-size: 18px;
}

main .bottom small {
    display: inline-block;
    margin: 0 0 24px 0;
    font-size: 13px;
}

footer {
    position:relative;
    padding: 40px;
    font-size: 14px;
    color: #FFF;
    background: #191919;
}

footer .contact-info {
    margin: 0 0 64px 0;
}

footer .anchor {
    margin: 0 0 0 120px;
}

footer .social {
    position:absolute;
    bottom:32px;
    right:40px;
}

footer .social img {
    width: 16px;
    margin: 0 0 0 8px;
    filter: invert(1);
}

.main-nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 120px;
    border-bottom: 1px solid #000;
    background: #FFF;
}

.main-nav .box1 {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.main-nav .box1 .item {
    min-width: 25%;
    max-width: 25%;
    padding: 24px;
}

.main-nav .box1 .item .anchor {
    font-weight: 24px;
    font-family: Reckless;
}

.main-nav .box1 .item .btn {
    display: inline-block;
    height: 24px;
    padding: 0 12px;
    margin: 12px 0 0 0;
    color:#000;
    border-radius: 12px;
    background: #CF8C29;
}

.main-nav .box1 .item .btn:hover {
    color: #FFF;
    background: #442806;
}

.contact {
    display: none;
    width: 600px;
    height: 100vh;
    padding: 40px;
    position: fixed;
    top: 0;
    right: 0;
    background: #191919;
}

.contact a {
    color: #FFF;
}

.contact img {
    width: 12px;
    filter: invert(1);
}

.contact input:first-of-type {
    width: 100%;
}

.contact input:nth-child(even) {
    float: left;
    margin-right: 20px;
}

.contact input {
    display: block;
    width: calc(50% - 10px);
    height: 40px;
    padding: 0 12px;
    margin: 20px 0 0 0;
    font-family: Lausanne;
    font-size: 18px;
    color: #FFF;
    border: 1px solid #FFF;
    background: #191919;
}

.contact textarea {
    display: block;
    width: 100%;
    height: 144px;
    padding: 12px;
    margin: 20px 0 0 0;
    font-family: Lausanne;
    font-size: 18px;
    color: #FFF;
    border: 1px solid #FFF;
    background: #191919;
    resize: none;
}

.contact h3 {
    margin: 20px 0;
    font-size: 32px;
    font-family: Reckless;
    line-height: 1.2;
    color: #FFF;
}

.contact p {
    color: #FFF;
}

.contact button {
    display: inline-block;
    height: 24px;
    padding: 0 12px;
    margin: 20px 0 0 0;
    color:#000;
    border-radius: 12px;
    background: #FFF;
    cursor: pointer;
}

.contact button:hover {
    color: #FFF;
    background: #00F;
}

.privacy {
    display: none;
    width: 640px;
    height: 480px;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 64px;
    font-size: 14px;
    text-align: justify;
    border: 1px solid #000;
    background: #FFF;
}

.privacy h3 {
    font-size: 32px;
    font-family: Reckless;
    line-height: 1.2;
}

.privacy strong {
    display: block;
    margin: 8px 0;
}

.privacy img {
    display: block;
    width: 12px;
    position: absolute;
    top: 32px;
    right: 32px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }

.billing {
    padding: 64px 0;
    color: #000;
    background: #FFF;
}

.billing .box1 {
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.billing .box1 .item {
    min-width:25%;
    max-width: 25%;
    border: 1px solid #000;
    border-right: none;
}

.billing .box1 .item:last-of-type {
    border-right: 1px solid #000;
}

.billing .box1 .item div {
    min-height: 132px;
    padding: 20px;
    font-size: 18px;
    color: #FFF;
    border-bottom: 1px solid #000;
    background: #00F;
}

.billing .box1 .item ul li {
    list-style: none;
    margin: 20px;
    overflow: hidden;
}

.billing .box1 .item ul li::before {
    content: url(img/001-check.png);
    display: block;
    float: left;
    margin: 1px 8px 12px 0;
}

.billing .box1 .item h2 {
    display: inline-block;
    padding: 0 0 0 12px;
    font-size: 44px;
    font-family: Reckless;
    line-height: 1;
}

.billing .box1 .item sup {
    position: relative;
    top: -12px;
}

.billing .box1 .item .btn {
    display: block;
    width: 114px;
    height: 24px;
    padding: 0 12px;
    margin: 32px auto;
    color:#000;
    border-radius: 12px;
    background: #CF8C29;
}

.billing .box1 .item .btn:hover {
    color: #FFF;
    background: #442806;
}

.blog {
    padding: 64px 0;
    color: #000;
    background: #FFF;
}

.blog article {
    width: 640px;
    padding: 0 0 64px 0;
    margin: 0 auto 64px auto;
    border-bottom: 1px solid #000;
}

.blog article:last-of-type {
    border-bottom: none;
}

.blog article h2 {
    margin: 32px 0;
    font-size: 60px;
    font-family: Reckless;
    line-height: 1.2;
}

.blog article h3 {
    margin: 24px 0;
    font-size: 48px;
    font-family: Reckless;
    line-height: 1.2;
}

.blog article h4 {
    margin: 24px 0;
    font-size: 24px;
    color: #CF8C29;
    line-height: 1.2;
}

main .bg-service {
    height:360px;
    background-image: url(img/flexe_warehouse-lightbulbs_web_resources_3000x1690.png);
    background-position: left center;
    background-size: cover;
}

.service {
    padding: 64px 0;
    color: #000;
    background: #FFF;
}

.service .box {
    width: 640px;
    margin: 0 auto;
}

.service .box .extra {
    margin: 48px 0;
    padding: 0 0 0 24px;
    border-left: 2px solid #442806;
}

@media screen and (max-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-size: 16px;
        font-family: Lausanne;
        color: #000;
        line-height: 1.682;
        background: #FFF;
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight:normal;
    }
    
    a {
        color: inherit;
        text-decoration: none;
        border: none;
    }
    
    .anchor {
        border-bottom: 1px dashed;
    }
    
    body header {
        position: relative;
        padding: 12px 20px!important;
        border-bottom:1px solid #000;
    }
    
    body header img {
        display: block;
        width: 40px!important;
        border-radius: 50%;
    }
    
    body header nav {
        width: 234px!important;
        position: absolute;
        margin: auto;
        top: 16px!important;
        left: 0;
        right: 0;
    }
    
    body header nav ul {
        list-style: none;
    }
    
    body header nav ul li {
        display: block;
        float: left;
        margin: 0 4px!important;
        font-size: 18px;
    }
    
    body header>a {
        display: block;
        height: 24px;
        position: absolute;
        right: 12px!important;
        top: 16px!important;
        padding: 0 12px;
        color: #FFF;
        border-radius: 12px;
        background: #000;
    }
    
    body header>a:hover {
        color: #FFF;
        background: #00F;
    }
    
    main {
        display: block;
        color: #FFF;
        background: #191919;
    }
    
    main .top {
        padding: 40px;
        color: #000;
        background: #FFF;
    }
    
    main .top h1 {
        margin: 32px 0;
        font-size: 32px!important;
        font-family: Reckless;
    }
    
    main .top .today {
        display:block!important;
        margin: 0 120px 0 0;
    }
    
    main .bg-img {
        height:240px!important;
        background-image: url(img/2021_blog_Karls-Letter_header.png);
        background-position: left center;
        background-size: cover;
    }
    
    main .level {
        width: 92%!important;
        padding: 100px 0;
        margin:0 auto;
    }
    
    main .level .sub {
        margin: 0 0 0 24px;
        font-size: 14px;
        opacity: .6;
    }
    
    main .level h3 {
        margin: 20px 0 20px 24px;
        font-size: 48px;
        font-family: Reckless;
        line-height: 1.2;
    }
    main .level p {
        font-size: 18px;
        margin: 0 0 0 24px;
    }
    
    main .level a {
        display: inline-block;
        height: 24px;
        padding: 0 12px;
        margin: 24px 0 0 24px;
        color:#000;
        border-radius: 12px;
        background: #CF8C29;
    }
    
    main .level a:hover {
        color: #FFF;
        background: #442806;
    }
    
    main .level .block1 {
        display: inline-block;
        width: calc(50% - 10px);
        padding: 0 0 0 24px;
        margin: 40px 0 0 0;
        border-left: 1px solid #CF8C29;
    }
    
    main .level .block1 .nr {
        font-size: 60px!important;
        font-family: Reckless;
        margin: 0 0 32px 0;
    }
    
    main .level2 {
        width: 92%!important;
        padding: 100px 0;
        margin: 0 auto;
    }
    
    main .level2 .block1 {
        padding: 40px 0;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        overflow: hidden;
    }
    
    main .level2 .block1:first-of-type {
        border-top: 1px solid rgba(255, 255, 255, .1);
    }
    
    main .level2 img {
        float: left;
        margin: 20px 20px!important;
    }
    
    main .level2 h3 {
        font-size: 18px!important;
        font-family: Reckless;
    }
    
    main .level2 a {
        display: inline-block;
        height: 24px;
        padding: 0 12px;
        margin: 24px 0 0 0;
        color:#000;
        border-radius: 12px;
        background: #CF8C29;
    }
    
    main .level2 a:hover {
        color: #FFF;
        background: #442806;
    }
    
    main .bottom {
        display: flex;
        flex-direction: column!important;
        padding: 48px 2%;
        color: #000;
        background: #FFF;
    }
    
    main .bottom .item {
        min-width: 100%!important;
        max-width: 100%!important;
        padding:24px!important;
        border-left: none!important;
    }
    
    main .bottom .sub {
        font-size: 13px;
    }
    
    main .bottom h4 {
        margin: 0 0 12px 0!important;
        font-size: 18px;
        font-family: Reckless;
    }
    
    main .bottom .source {
        font-size: 18px;
    }
    
    main .bottom small {
        display: inline-block;
        margin: 0 0 24px 0;
        font-size: 13px;
    }
    
    footer {
        position:relative;
        padding: 20px!important;
        font-size: 14px;
        color: #FFF;
        background: #191919;
    }
    
    footer .contact-info {
        margin: 0 0 64px 0;
    }
    
    footer .anchor {
        margin: 0 0 0 24px!important;
    }
    
    footer .social {
        position:static!important;
        bottom:32px;
        right:40px;
        margin:32px 0 0 0!important;
    }
    
    footer .social img {
        width: 16px;
        margin: 0 0 0 8px;
        filter: invert(1);
    }
    
    .main-nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px!important;
        border-bottom: 1px solid #000;
        background: #FFF;
    }
    
    .main-nav .box1 {
        display: flex;
        flex-direction: column!important;
        width: 80%;
        margin: 0 auto;
    }
    
    .main-nav .box1 .item {
        min-width: 100%!important;
        max-width: 100%!important;
        padding: 24px;
    }
    
    .main-nav .box1 .item .anchor {
        font-weight: 24px;
        font-family: Reckless;
    }
    
    .main-nav .box1 .item .btn {
        display: inline-block;
        height: 24px;
        padding: 0 12px;
        margin: 12px 0 0 0;
        color:#000;
        border-radius: 12px;
        background: #CF8C29;
    }
    
    .main-nav .box1 .item .btn:hover {
        color: #FFF;
        background: #442806;
    }
    
    .contact {
        display: none;
        width: 100%!important;
        height: 100vh;
        padding: 20px!important;
        position: fixed;
        top: 0;
        right: 0;
        background: #191919;
    }
    
    .contact a {
        color: #FFF;
    }
    
    .contact img {
        width: 12px;
        filter: invert(1);
    }
    
    .contact input:first-of-type {
        width: 100%;
    }
    
    .contact input:nth-child(even) {
        float: none!important;
        margin-right: 0!important;
    }
    
    .contact input {
        display: block;
        width: 100%!important;
        height: 32px!important;
        padding: 0 12px;
        margin: 20px 0 0 0;
        font-family: Lausanne;
        font-size: 16px!important;
        color: #FFF;
        border: 1px solid #FFF;
        background: #191919;
    }
    
    .contact textarea {
        display: block;
        width: 100%;
        height: 64px!important;
        padding: 12px;
        margin: 20px 0 0 0;
        font-family: Lausanne;
        font-size: 16px!important;
        color: #FFF;
        border: 1px solid #FFF;
        background: #191919;
        resize: none;
    }
    
    .contact h3 {
        margin: 16px 0!important;
        font-size: 24px!important;
        font-family: Reckless;
        line-height: 1.2;
        color: #FFF;
    }
    
    .contact p {
        color: #FFF;
    }
    
    .contact button {
        display: inline-block;
        height: 24px;
        padding: 0 12px;
        margin: 20px 0 0 0;
        color:#000;
        border-radius: 12px;
        background: #FFF;
        cursor: pointer;
    }
    
    .contact button:hover {
        color: #FFF;
        background: #00F;
    }
    
    .privacy {
        display: none;
        width: 100%!important;
        height: 100vh!important;
        position: fixed;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 32px!important;
        font-size: 14px;
        text-align: justify;
        border: 1px solid #000;
        background: #FFF;
    }
    
    .privacy h3 {
        font-size: 32px;
        font-family: Reckless;
        line-height: 1.2;
    }
    
    .privacy strong {
        display: block;
        margin: 8px 0;
    }
    
    .privacy img {
        display: block;
        width: 12px;
        position: absolute;
        top: 32px;
        right: 32px;
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1; /* Firefox */
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: white;
      }
      
      ::-ms-input-placeholder { /* Microsoft Edge */
        color: white;
      }
    
    .billing {
        padding: 64px 0;
        color: #000;
        background: #FFF;
    }
    
    .billing .box1 {
        display: flex;
        flex-direction: column!important;
        width: 92%!important;
        margin: 0 auto;
    }
    
    .billing .box1 .item {
        min-width:100%!important;
        max-width: 100%!important;
        margin: 20px 0 0 0!important;
        border: 1px solid #000;
        border-right: 1px solid #000!important;
    }
    
    .billing .box1 .item:last-of-type {
        border-right: 1px solid #000;
    }
    
    .billing .box1 .item div {
        min-height: 64px!important;
        padding: 20px;
        font-size: 18px;
        color: #FFF;
        border-bottom: 1px solid #000;
        background: #00F;
    }
    
    .billing .box1 .item ul li {
        list-style: none;
        margin: 20px;
        overflow: hidden;
    }
    
    .billing .box1 .item ul li::before {
        content: url(img/001-check.png);
        display: block;
        float: left;
        margin: 1px 8px 12px 0;
    }
    
    .billing .box1 .item h2 {
        display: inline-block;
        padding: 0 0 0 12px;
        font-size: 72px;
        font-family: Reckless;
        line-height: 1;
    }
    
    .billing .box1 .item sup {
        position: relative;
        top: -30px;
    }
    
    .billing .box1 .item .btn {
        display: block;
        width: 114px;
        height: 24px;
        padding: 0 12px;
        margin: 32px auto;
        color:#000;
        border-radius: 12px;
        background: #CF8C29;
    }
    
    .billing .box1 .item .btn:hover {
        color: #FFF;
        background: #442806;
    }
    
    .blog {
        padding: 64px 0;
        color: #000;
        background: #FFF;
    }

    .blog ul {
        list-style-position: inside!important;
    }
    
    .blog article {
        width: 92%!important;
        padding: 0 0 64px 0;
        margin: 0 auto 64px auto;
        border-bottom: 1px solid #000;
    }
    
    .blog article:last-of-type {
        border-bottom: none;
    }
    
    .blog article h2 {
        margin: 24px 0!important;
        font-size: 32px!important;
        font-family: Reckless;
        line-height: 1.2;
    }
    
    .blog article h3 {
        margin: 18px 0!important;
        font-size: 24px!important;
        font-family: Reckless;
        line-height: 1.2;
    }
    
    .blog article h4 {
        margin: 12px 0!important;
        font-size: 18px!important;
        color: #CF8C29;
        line-height: 1.2;
    }
    
    main .bg-service {
        height:240px!important;
        background-image: url(img/flexe_warehouse-lightbulbs_web_resources_3000x1690.png);
        background-position: left center;
        background-size: cover;
    }
    
    .service {
        padding: 64px 0;
        color: #000;
        background: #FFF;
    }
    
    .service .box {
        width: 92%!important;
        margin: 0 auto;
    }
    
    .service .box .extra {
        margin: 48px 0;
        padding: 0 0 0 24px;
        border-left: 2px solid #442806;
    }
}